body,html {
    height: 100%;
    overflow: hidden;
    padding: 0;
}

.navbar {
    position: static;
    margin: 0;
}

#container {
    height: 95%;
}

#nav {
    overflow-y: scroll;
    height: 100%;
    float: left;
    width: 250px;
    padding: 10px;
}

#content {
    overflow-y: scroll;
    height: 100%;
    background: #F4F4F4;
    padding: 0 12px;
    margin-top: 40px;
}

.doc {
    margin-top: 0;
    margin-left: 5px;
}

.toggle-on .toggle-hide {
    display: none;
}

.toggle-on .toggle-show {
    display: block;
}

.related-types .toggle-hide {
    padding-top: 4px;
}

.availability {
    margin-left: 14px;
    color: #93a1a1;
    font-weight: 400;
    font-style: italic;
}

#nav li {
    list-style-type: none;
}

#nav ul,#nav li li {
    margin-left: 14px;
}

#nav img {
    padding-right: 4px;
}

#nav.searching .pack {
    display: inline;
}

h1 code {
    font-size: 15px;
    padding: 4px;
}

h3 code {
    font-size: 13px;
    padding: 4px;
}

code {
    background: #FDF6E3;
    color: #002b36;
    tab-size: 4;
}

code a {
    text-decoration: none;
}

code a:hover {
    text-decoration: underline;
}

code .identifier {
    color: #002b36;
}

code .type {
    color: #268bd2;
}

code .keyword {
    color: #dc322f;
}

code .directive {
    color: #2aa198;
}

code .constant {
    color: #AE81FF;
}

code .string {
    color: #E6DB74;
}

code .macro {
    color: #A6E22A;
}

.navbar-fixed-top {
    position: fixed;
}

.navbar-fixed-top .navbar-inner,.navbar-fixed-bottom .navbar-inner {
    padding: 0;
}

#nav ul li {
    padding: 0 0 0 5px;
}

#nav ul li li {
    padding: 0 0 0 10px;
}

#nav ul li li li {
    padding: 0 0 0 15px;
}

.platform div a:nth-child(2) {
    color: #333;
}

.platform div a:nth-child(2):before,.platform h3 code:before {
    content: " HX ";
    background: #F7941E;
    color: white;
    border-radius: 3px;
    font: bold 10px/11px courier, sans-serif;
    margin: 0 10px 0 0;
    padding: 0 2px;
}

.platform li a:nth-child(2):before {
    opacity: .5;
    margin-left: 5px;
}

.platform-js div a:nth-child(2):before,.platform-js h3 code:before {
    content: " JS ";
    background: LightSeaGreen;
}

.platform-neko div a:nth-child(2):before,.platform-neko h3 code:before {
    content: " NK ";
    background: DarkOrchid;
}

.platform-php div a:nth-child(2):before,.platform-php h3 code:before {
    content: " PHP ";
    background: darkblue;
}

.platform-java div a:nth-child(2):before,.platform-java h3 code:before {
    content: " JRE ";
    background: gray;
}

.platform-flash div a:nth-child(2):before,.platform-flash h3 code:before {
    content: " FL ";
    background: red;
}

.platform-cs div a:nth-child(2):before,.platform-cs h3 code:before {
    content: " CS ";
    background: green;
}

.body .platform {
    background: #fff;
    margin-bottom: 1em;
    border: 1px solid #eee;
    padding: 0 5px;
}

h3 code,h1 code {
    font-size: 13px;
    background: none;
    border: 0;
    display: block;
    padding: 0 4px;
}

h3 code .identifier {
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0 3px 0 0;
}

h2 {
    padding-left: 5px;
    font-weight: 400;
    font-size: 21px;
}

#content .header {
    position: relative;
    background: none;
    left: 0;
    font-size: 24px;
    border-bottom: 0 solid #EEE;
    padding: 10px 5px 0;
}

#content .body {
    padding-top: 0;
}

h1 code,h1 code .type,h1 code .keyword {
    border: 0;
    font-size: 21px;
    color: #000;
    font-weight: 400;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0;
}

h1 code .directive {
    color: #666;
}

h3 {
    border: 0;
    margin: 0;
    padding: 0;
}

.toggle-hide,#nav .expando.expanded > ul,#nav.searching .expando > ul {
    display: block;
}

.toggle-show,#nav .expando > ul,#nav .pack,#nav.searching .expando > div {
    display: none;
}

#nav.searching ul,#nav ul {
    margin-left: 0;
}

code .comment,code .inactive {
    color: #75715E;
}